@charset "utf-8";
html {
    margin: 0;
    padding: 0;
    /*height: 960px;*/
    /*height: 1105px;*/
    font-size: 62.5%;
    box-sizing: border-box;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    overflow: hidden;
    /*overflow-x: hidden;*/
    /*font-family: "Microsoft YaHei", SimSun, Verdana, Arial, Tahoma;*/
}

body {
    width: 978px;
    max-width: 978px;
    min-width: 978px;
    /*overflow-y: hidden;*/
    height: 688px;
    font: 12px "微软正黑体", "Microsoft Yahei", "Lantinghei SC", "Hiragino Sans GB", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
    width: 100%;
    height: 100%;
    /*height: 1350px;*/
    overflow: hidden;
    bottom: 0;
    background-color: #dfdfdf;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #f2f2f2;
}

::-webkit-scrollbar-thumb {
    background: #c2c2c2;
    width: 8px;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb:vertical {
}

::-webkit-scrollbar-thumb:horizontal {
}

::-webkit-scrollbar-thumb:vertical:hover {
    background-color: #c2c2c2;
}

::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: #c2c2c2;
    width: 10px;
}



.share_info_container {
    width: 100%;
    height: 80%;
    overflow-x: hidden;
}





