@charset "utf-8";
html {
    margin: 0;
    padding: 0;
    /*height: 960px;*/
    /*font-size: 62.5%;*/
    font-size: 3.33px;
    box-sizing: border-box;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    /*overflow: hidden;*/
    /*overflow-x: hidden;*/
    /*font-family: "Microsoft YaHei", SimSun, Verdana, Arial, Tahoma;*/
    /*font-family: "微软正黑体";*/
    font-family: "微软正黑体", "Microsoft Yahei", "Lantinghei SC", "Hiragino Sans GB", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    width: 360px;
    max-width: 360px;
    min-width: 360px;
    /*overflow-y: hidden;*/
    /*height: 669px;*/
    /*font: 12px "微软正黑体", "Microsoft Yahei", "Lantinghei SC", "Hiragino Sans GB", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
}

/*header {*/
/*width: 100%;*/
/*height: 100%;*/
/*!*height: 1350px;*!*/
/*overflow: hidden;*/
/*bottom: 0;*/
/*background-color: #dfdfdf;*/
/*}*/

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #f2f2f2;
}

::-webkit-scrollbar-thumb {
    background: #c2c2c2;
    width: 8px;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb:vertical {
}

::-webkit-scrollbar-thumb:horizontal {
}

::-webkit-scrollbar-thumb:vertical:hover {
    background-color: #c2c2c2;
}

::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: #c2c2c2;
    width: 10px;
}

* {
    margin: 0;
    padding: 0;
}

#main {
    width: 100%;
    /*height: 100%;*/
    text-align: center;
}

#image {
    width: 100%;
    /*height: 100%;*/
}


