@charset "utf-8";
html *{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  border:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -webkit-user-drag:none;
}
ul,li,p{
  margin:0px;
  padding:0px;
  list-style: none;
}
a{text-decoration: none;}
html{
  font-size: 62.5%;
}
body{
  background: #e5e5e5;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}


/*--viewbox整个可视窗口--*/
 .viewbox{
   	max-width: 736px;
    min-width: 320px;
    height: 100%;
    background:#e5e5e5;
    margin: 0px auto;
    font-family:'微软雅黑';
    top: 0;}
/*--/header*/
    .clear{
      clear:both;
    }
header{
			width:100%;
			height:50px;
			position:fixed;
			background-color:#f8f8f8;
			z-index: 1;
			top:0px;
			left: 0px;
			right: 0px;
			margin-left: auto;
			margin-right: auto;
			margin: 0px auto;
			background-position: 4.5px center;
			box-sizing: border-box;
			border-bottom:1px solid #e5e5e5;
}
  
.header_l{
	float: left;
    width:50px;height:50px;line-height:50px;text-align:center;	
}

.header_r{
	float: right;
	width:50px;height:50px;line-height:50px;text-align:center;	
}

header img{
	width: 19px;
	margin-top:14px;
}

header span {
	color: #505050;
	font-size: 1.8rem;
	line-height: 50px;
}
.menu-list{
	width: 132px;
    position: fixed;
    height: auto;
    background: #f8f8f8;
    top:4.9rem;
    box-shadow: 0 0 9px rgba(0,0,0,0.3);
    z-index:120;
    right: 1.3rem;
    display:none;}
.menu-list li{height:4.5rem;border-bottom:1px solid #e5e5e5;text-align:left;}
.menu-list li:active{background:#f2f2f2;}
.menu-list li img{width:2.3rem;margin-top:1rem;margin-left: 3rem;}
.menu-list li p{float:right;margin-right:30px;line-height:4.5rem;color:#808080;font-size:1.6rem;}
/*--/header*/
/*section*/
section{
  max-width: 736px;
  height:auto;
  min-width: 320px;
  margin: 0px auto;
  margin-top:50px;
  box-sizing:border-box;
  padding-bottom:50px;
  z-index:1;
}
.share_box{
  width:100%;
  background-color: #ffffff;
  margin-bottom:1rem;

}
.share_top{
  padding:2% 3%;
  overflow: hidden;
}
.share_top>div{
  float:left;


}
.share_top .share_img{
  display:inline-block;
  /* width:23%; */
  height:90%;
  margin-right:4%;
}
.share_top .share_img img{
  width:6.5rem;
  height:6.5rem;
  border:1px solid #dcdcdc;

}
.share_top .share_content{
  /* padding:1% 0px; */
  width:70%;
  line-height:1.9em;
  word-wrap: break-word;
}
.share_top .share_content p{
  color:#868686;
  margin-bottom: 2%;
  font-size:1.15em;
}
.share_pub .share_content .content>p{
  font-weight: 600;
  color:#505050;
  

}
.share_box .share{
  width:100%;
  height:3em;
  line-height: 3em;
  border-top:1px solid #e5e5e5;
  padding:0 3%;
  line-height: 3em;
  color:#389ffe;
}
.share_box .share span{
  margin-right:3%;
}
.share_box .share .date{
  float:right;
  color:#505050;
}
.share_pub .share_img{
  /* width:23%; */
}
.share_box .share .icon_star{
  display:inline-block;
  width:1.5rem;
  margin-right:0rem;
  position:relative;
  top:0.2rem;
}
/*图片展示*/
.img_show{
width:100%;
height:100%;
margin-top:1em;

}
.img_show ul li{
    float: left;
    width:25%;
  
    
}
.img_show ul li img{
	width:95%;
	height:7.5rem;
    border:1px solid #dcdcdc;

}
.img_show ul li a{
/* 	display:inline-block;
	width:100%; */
}


