@charset "utf-8";
html *{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  border:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -webkit-user-drag:none;
}
li{
  list-style: none;
  float:left;
}
a{text-decoration: none;}
html{
  font-size: 62.5%;
}
body{
  background: #e5e5e5;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}
/*--viewbox整个可视窗口--*/
 .viewbox{
    max-width: 100%;
    min-width: 320px;
    height: 100%;
    background:#e5e5e5;
    margin: 0px auto;
    display: block;
    top: 0;}
/*--/header*/
 header{
    width: 100%;height:50px;background:#f8f8f8;margin:0px auto;position:fixed;z-index: 1;
    left:0px;right:0px;margin-left:auto;margin-right:auto;box-sizing:border-box;border-bottom: 1px solid #e5e5e5;}
  header .head-warp{width: 100%; height:50px;margin:0px auto;background-position: 4.5px center;box-sizing:border-box;}
  header .head-warp ul{width:100%;}
  header .head-warp .li-lt{float:left;width:50px;height: 50px;line-height:50px;text-align:center;}
  header .head-warp .li-lt a{font-size:1.8rem;color: #505050;height: 50px;}
/*--/header*/
 /*--/section*/
   section{
       max-width: 736px;height:auto;min-width: 320px;position: absolute;left:0px;right:0px;
       margin-left:auto;margin-right:auto;top: 5rem;background:#ffffff;}
   section .logistics{width:100%;height:10rem;background:#ffffff;top:0;left:0;border-bottom: 1px solid #e5e5e5;position:relative;}
   section .logistics .process{width:100%;padding:3%;margin:0 auto;position:absolute;top:2rem;}
   section .logistics .process .cost{text-align: center;margin: 0 auto;float:left;width:8%;}
   .stepText{font-size:1.2rem;}
   section .logistics .process .cost .yuan{width:14px; height: 14px; margin-top: 3px;}
   section .logistics .process .line{ /* width:14%; */}
   section .logistics .process .line img{width:15%;height: 0.2rem;float: left;top: 2.1rem;position: relative;}

   section .followmsg{width: 100%;height:auto;background: #ffffff;border-bottom: 1px solid #e5e5e5;}
   section .followmsg ul{width: 100%;height:auto;padding:3%;overflow: hidden;}
   section .followmsg ul li{float: left;}
   section .followmsg ul .followmsg-lt{text-align:center;font-family: '微软雅黑';font-size: 1.2rem;color: #505050;margin-left:4%;}
   section .followmsg ul .followmsg-rt{width: 70%;}
   section .followmsg ul .followmsg-rt p{font-family: '微软雅黑';font-size: 1.2rem;color: #505050;}
   section .followmsg ul .followmsg-rt dd{float: left;margin-top:0.02rem;color: #868686;font-size: 1.3em;}
   section .message{width: 100%;height: auto;background: #ffffff;}
   section .message span{width: 100%;height: auto;}
   section .message span ul{width: 100%;height:10rem;padding:3% 3%;}
   section .message span ul li{float: left;}
   section .message span ul .message-lt .troye{width: 7.5rem;height: 7.5rem;border: 1px solid #dcdcdc;}
   section .message span ul .message-lt .troye img{width: 100%;height:100%;}
   section .message span ul .message-rt{width: 67%;margin-left:4%;word-wrap: break-word;}
   section .message span ul .message-rt .servermsg1{/* height: 3.5rem; */margin-top: 0.1em;font-family: '微软雅黑';font-size: 1.2rem;color: #505050;}
   section .message span ul .message-rt .servermsg2 img{width: 5%;}
   section .message span ul .message-rt .servermsg2{color: #7f7e7e;font-size: 1.8em;}
   section .message .explian{width: 100%;height: auto;}
   section .message .explian{width: 100%;height: auto;padding: 0em 2em 2em 2em;display:block;}
   section .message .explian ul li{width:100%;height:auto;line-height:2.5rem;font-family: '微软雅黑';font-size: 1.2rem;color: #505050;}
   section .message .explian ul li p{display:inline-block;}
   .clear{clear: both;}
  /*--/section*/


/*
*****
 */
/*--viewbox整个可视窗口--*/