html *{
	margin: 0;
	padding: 0;
	font-size: 62.5%;
	box-sizing: border-box;
	-moz-box-sizing:border-box; /*firfox*/
	-webkit-box-sizing:border-box; /*safari*/
	-webkit-user-drag:none;
}
body{
	margin: 0 auto;
	min-width: 320px;
	max-width: 736px;
	height: 100%;
	background-color: #f8f8f8;
	font-family: Helvetica;
	color: #505050;
}
p,ul,li,dl,dt,dd {
	margin: 0;
}
ul,li{
	padding: 0;
	list-style: none;
}
a{
	color: #505050;
	text-decoration: none;
}
img{
	border:none;
}

header{
	overflow: hidden;
	width: 100%;
	height: 50px;
	background-color: #f8f8f8;
	border-bottom: 0.1rem #e5e5e5 solid;
}

.header_l{
	float: left;
	width:50px;height:50px;line-height:50px;text-align:center;
}

.header_r{
	float: right;
	width:50px;height:50px;line-height:50px;text-align:center;
}

header img{
	width: 19px;
	margin-top: 14px;
}

header span {
	font-size: 1.1rem;
	line-height: 50px;
	color:#505050;
}

.adress_name{
	background-color: #fff;
	text-align: center;
	overflow: hidden;
	border-bottom: 0.1rem #e5e5e5 solid;
}
.adress_name ul li {
	width: 25%;
	float: left;
	font-size: 0.9rem;
	padding: 1.2rem 0 1.2rem 0;
}

.adress_list ul li {
	font-size: 0.9rem;
	padding: 1rem 0 1rem 4%;
	border-bottom: 0.1rem #e5e5e5 solid;
}

.current1{
	color: #ff620d;
	border-bottom: 0.2rem #ff620d solid;
}

.current2{
	color: #ff620d;
	background-color: #e5e5e5;
}
.adress_list{
	display: none;
}